body {
    background: url("stars1.jpg") center/cover;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: blue;
}

.float {
    position: relative;
    right: 0;
    top: 15px;
    width: 10%;
    height: 10px;
    ;
}

img {
    width: 200px;

    height: 200px;
}



.crawl {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    font-weight: 800;
    font-size: 50px;
    line-height: 80 px;
    width: 1000px;
    height: 1600px;
    transform: perspective(250px) rotateX(20deg);
    animation: scrollCrawl 30s linear;


}
p {
    font-size: 2em;
}

@keyframes scrollCrawl {
    0% {
        transform: perspective(250px) rotateX(20deg) translateY(600px);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: perspective(250px) rotateX(20deg) translateY(-3000px);
        opacity: 0;
    }
}
@media screen and ( max-width: 820px and max-height: 1180px)
{
    body{

        width:80%;
    }
}